/* Основные стили для навигации */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #222222;
    height: 82.18px;
    position: relative;
  }
  
  h2 {
    color: white;
    margin-left: 20px; 
  }
  

  .Buttons-nav {
    display: flex;
    gap: 15px;
    color: white;
    margin-right: 20px;
  }
  

  @media (max-width: 933px) {
    .Buttons-nav {
      display: none; 
    }
    
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;  
    }

    header h2 {
        margin: 0;
    }
  }
  